#seg0
{
position:absolute;left:177px; top:100px; width:48px;height:26px;
text-align:left;
border: 1px solid black;
}
#seg0a
{
position:absolute;left:1px;width:14px;height:26px;
color:darkgoldenrod;
font-size:14px;
}
#seg0b
{
position:absolute;top:6px;left:16px;width:20px;height:15px;
color:blue;
font-size:14px;
}
#seg0c
{
position:absolute;left:38px;width:12px;height:26px;
color:magenta;font-size:16px;
}
#seg1
{
position:absolute; left:228px; top:86px; width:27px;height:40px;
border: 1px solid black;
} 
#seg1a
{
position:absolute;left:1px;width:25px;height:13px;
color:magenta;
font-size:11px;
}
#seg1b
{
position:absolute;left:4px;top:12px;width:23px;height:10px;
color:darkgoldenrod;
font-size:11px;
}
#seg1c
{
position:absolute;top:25px;width:27px;height:16px;
color:magenta;font-size:14px;padding-left:6px;
}
#seg2
{
position:absolute; left:228px; top:40px; width:27px;height:40px;
border: 1px solid black;
} 
#seg2a
{
position:absolute;top:-2;left:2px;width:25px;height:12px;
color:limegreen;
text-align:left;
font-size:16px;
}
#seg2b
{
position:absolute;top:13px;left:2px;width:27px;height:10px;
color:darkgoldenrod;
font-size:11px;
}
#seg2c
{
position:absolute;top:24px;left:8px;width:19px;height:16px;
color:magenta;
font-size:16px;
}        
#seg3
{
  position:absolute; left:177px; top:40px; width:48px;height:26px;
  border: 1px solid black;
  text-align:left;
}
#seg3a
{
position:absolute;left:2px;width:28px;height:26px;
color:darkgoldenrod;
font-size:16px;
}
#seg3b
{
position:absolute;left:35px;width:12px;height:26px;
color:magenta;
font-size:18px;
}
#seg4
{
position:absolute; left:147px; top:40px; width:27px;height:40px;
text-align:left;
border: 1px solid black;
}
#seg4a
{
position:absolute;left:2px;width:25px;height:11px;
color:blue;
font-size:10px;
}
#seg4b
{
position:absolute;left:2px;top:11px;width:23px;height:14px;
color:darkgoldenrod;
font-size:14px;
}
#seg4c
{
position:absolute;top:24px;width:27px;height:16px;
color:magenta;
font-size:16px;
text-align:center;
}   
#seg5
{
position:absolute; left:177px; top:70px; width:48px;height:26px;
text-align:left;
border: 1px solid black;
}
#seg5a
{
position:absolute;left:2px;width:28px;height:26px;
color:darkgoldenrod;
font-size:10px;
}
#seg5b
{
position:absolute;left:30px;width:17px;height:26px;
color:magenta;
font-size:24px;
}
#seg6
{
position:absolute; left:147px; top:86px; width:27px;height:40px;
border: 1px solid black;
}
#seg6a
{
position:absolute;top:1px;left:2px;width:22px;height:13px;
background-color:;
color:blue;
font-size:11px;
}
#seg6b
{
position:absolute;left:6px;top:15px;width:16px;height:12px;
color:white;
background-color:red;
font-size:11px;
text-align:center;
}
#seg6c
{
position:absolute;top:25px;width:27px;height:16px;
color:magenta;font-size:14px;padding-left:6px;
}
/*
#seg1a
{
position:absolute;left:1px;width:25px;height:13px;
color:magenta;
font-size:11px;
}
#seg1b
{
position:absolute;left:4px;top:12px;width:23px;height:10px;
color:darkgoldenrod;
font-size:11px;
}
#seg1c
{
position:absolute;top:25px;width:27px;height:16px;
color:magenta;font-size:14px;padding-left:6px;
}
*/
#seg7
{
position:absolute; left:117px; top:86px; width:27px;height:40px;
border: 1px solid black;
text-align:left;
}
#seg7a
{
position:absolute;top:0px;left:2px;width:25px;height:12px;
color:limegreen;
font-size:12px;
}
#seg7b
{
position:absolute;left:1px;top:12px;width:16px;height:14px;
color:darkgoldenrod;
font-size:12px;
}
#seg7c
{
position:absolute;top:12px;left:17px;width:14px;height:12px;
color:magenta;
font-size:16px;
}
#seg7d
{
position:absolute;left:3px;top:26px;width:25px;height:13px;
color:black;
font-size:10px;
}      
#seg8
{
position:absolute; left:34px; top:100px; width:48px;height:26px;
border: 1px solid red;
text-align:left;
}
#seg8a
{
position:absolute;left:2px;width:14px;height:26px;
color:magenta;
font-size:20px;
}
#seg8b
{
position:absolute;left:17px;width:16px;height:26px;
color:magenta;
font-size:14px;text-decoration:underline;
}
#seg8c
{
position:absolute;left:34px;width:16px;height:26px;
color:black;
font-size:20px;
}
#seg9
{
position:absolute; left:85px; top:86px; width:27px;height:40px;
border: 1px solid red;
}
#seg9a
{
position:absolute;left:2px;top:2px;width:21px;height:16px;
color:magenta;
font-size:12px;text-decoration:underline;
text-align:left;
}
#seg9b
{
position:absolute;top:19px;width:27px;height:12px;
color:black;
font-size:20px;
text-align:center;
}
#seg10
{
position:absolute; left:85px; top:40px; width:27px;height:40px;
border: 1px solid red;
text-align:left;
}
#seg10a
{
position:absolute;left:1px;width:25px;height:16px;
color:blue;
font-size:10px;text-decoration:underline;
}
#seg10b
{
position:absolute;left:1px;top:17px;width:25px;height:24px;
color:red;
font-size:10px;
}     
#seg11
{
position:absolute; left:34px; top:40px; width:48px;height:26px;
border: 1px solid red;
}
#seg11a
{
position:absolute;left:2px;top:3px;width:16px;height:15px;
color:black;background-color:yellow;text-decoration:underline;
font-size:10px;
}
#seg11b
{
position:absolute;left:17px;width:8px;
color:black;
font-size:20px;
}
#seg11c
{
position:absolute;top:6px;left:27px;width:16px;height:14px;
color:black;background-color:yellow;
font-size:12px;
}      
#seg12
{
position:absolute; left:4px; top:40px; width:27px;height:40px;
border: 1px solid red;
color:limegreen;
font-size:12px;
}
#seg12a
{
position:absolute;top:2px;left:2px;width:26px;height:14px;
}
#seg12b
{
position:absolute;left:2px;width:26px;top:21px;height:16px;
text-decoration:underline;
}   
#seg13
{
position:absolute; left:34px; top:70px; width:48px;height:26px;
border: 1px solid red;
}
#seg13a
{
position:absolute;left:4px;top:1px;width:22px;height:13px;
font-size:12px;text-decoration:underline;
color:blue;
}
#seg13b
{
position:absolute;top:8px;width:48px;height:14px;
font-size:20px;
text-align:center;
color:red;
}
#seg14
{
position:absolute; left:4px; top:86px; width:27px;height:40px;
border: 1px solid red;

}
#seg14a
{
position:absolute;left:2px;width:25px;height:24px;
color:black;
font-size:20px;
text-align:center;
}
#seg14b
{
position:absolute;left:2px;top:24px;width:25px;height:16px;
color:magenta;text-decoration:underline;
font-size:9px;
}
#seg15
{
position:absolute; left:115px; top:40px; width:27px;height:40px;
border: 1px solid red;
}
#seg15a
{
position:absolute;left:3px;width:24px;height:20px;
color:darkgoldenrod;text-decoration:underline;
font-size:14px;
}
#seg15b
{
position:absolute;top:20px;width:27px;height:20px;
color:magenta;
font-size:18px;
text-align:center;
}   
/******************
#ti1
{
position:absolute;left:6;top:142px;width:180px;height:30px;
font-size:18px;
}*/
#ta1
{
position:absolute;left:6;top:142px;width:180px;height:140px;
font-size:18px;
}
